
body{
    background-color:#59a32e;
}
.todoform{
  background-color: #f60029;
  height:500px;
  border-radius: 30px;
  width:500px;
  margin: 50px auto;
}
.todoform input{
    height:20px;
    padding:8px;
    margin:10px;
    background-color:#35167c;
    border-radius: 7px;
    color:white;
    outline:none;
}
.todoform input::placeholder{
    color:white;
}
.add-btn{
    background-color: rgb(231, 231, 26);
    height:35px;
    width:50px;
    border-radius:5px;
    outline:none;
    margin-left: 10px;
}

.list{
    
    width:300px;
    background-color: #23f62d;
    height:50px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
}

.list p span button{
    position:absolute;
    right:10px;
    background-color: rgb(0, 30, 161);
    border-radius:2px;
    outline:none;
    color:white;
    }
.list p input{
    position:absolute;
    top:1px;
    color: black;
    border: 0;
    background-color: transparent;
    font-size: 18px;
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: brown;
}
